<ion-content id="bg-login" padding>
  <div class="box-login">
    <div class="bg-logo"><img src="assets/img/logo.png" class="logo" alt="ProjeTii"></div>
      <h2>LOGIN</h2>
      <div class="campo campo-floating mostra-senha"> 
        <p>Informe seu e-mail cadastrado para receber um link de alteração de senha.</p>
      </div>
      <div class="campo campo-floating">      
        <input class="input-line" type="text" required [(ngModel)]="user.email" >
        <label class="label">Usuário/E-mail</label>
      </div>
      <div class="campo campo-floating esconde-senha">      
        <input class="input-line" type="password" required [(ngModel)]="user.password" >
        <label class="label">Senha</label>
      </div>
      <div class="row esqueci-manter">
        <div class="um-meio">
          <label class="esconde-senha">
            <input name="rememberMe" id="rememberMe" value="1" type="checkbox"> 
            Manter conectado
          </label>
        </div>
        <div class="um-meio text-right padding-esqueci">
          <a href="#" class="btn-esqueci"><i class="fa fa-lock"></i> <span class="text-senha">Esqueci a senha</span></a>
        </div>
      </div>
      <div class="botao">
        <button ion-button color="primary" (click)="login()" block>Entrar</button>
      </div>
  </div>
</ion-content>
