page-login #bg-login{
  background: url('../assets/img/bg-login.jpg') no-repeat right center!important;
  background-size: cover;
}
.box-login{
  background: #FFF;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.box-login .bg-logo{
  background: #5ca0b7;
  text-align: center;
  margin: -20px -20px 20px -20px;
  padding: 20px;
}
.box-login .bg-logo img{
  max-width: 100%;
}
.box-login h2{
  font-weight: 500;
  font-size: 18px;
}
.box-login .esqueci-manter{
  padding-top: 20px;
  font-size: 11px;
}
.box-login .esqueci-manter label{
  color: #999;
}
.box-login .esqueci-manter a{
  color: #999;
}
.box-login .esqueci-manter a i{
  width: 15px;
  margin-right: 4px;
  text-align: center;
}
.box-login .botao{
  padding-top: 20px;
}
.box-login .botao-sair{
  padding-top: 15px;
}
.box-login p{
  line-height: 1.5em;
}
.mostra-senha{
  display: none;
}