<ion-header>
  <ion-navbar>
    <ion-title>
      Galeria
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center><img src="assets/img/galeria1.jpg"></ion-col>
      <ion-col col-6 text-center><img src="assets/img/galeria2.jpg"></ion-col>
      <ion-col col-6 text-center><img src="assets/img/galeria3.jpg"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
