<ion-header>
  <ion-navbar>
    <ion-title>
      Projeto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
 <ion-card>
  <div class="image-card">
    <div class="tipo"><i class="fa fa-home"></i></div>
    <div class="idade">5+</div>
    <img [src]="project.image"/>
    </div>
  
    <ion-card-content>
      <ion-card-title>
        {{project.title}}
      </ion-card-title>
      <p>{{project.detail_short}}</p>
      <p>{{project.detail_long}}</p>
      <p>&nbsp;</p>
      <ion-list no-border>
        <ion-item>
          <i class="fa fw fa-tasks"></i>&nbsp;&nbsp;
          {{project.task_number}} Tarefas
        </ion-item>
        <ion-item>
          <i class="fa fw fa-calendar"></i>&nbsp;&nbsp;
          {{project.estimated_time}} Semanas
        </ion-item>
        <ion-item>
          <i class="fa fw fa-credit-card"></i>&nbsp;&nbsp;
          R$ 6,00
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button (click)="setRootTasksPage()">
          <i class="fa fw fa-credit-card"></i>&nbsp;&nbsp;
          Comprar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
