<ion-header>
  <ion-navbar>
    <ion-title>
      Quiz
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>{{task.title}}</ion-list-header>
		<ion-item>{{quiz.question}}</ion-item>
		<ion-item>
		  <ion-label [ngClass]="answerA" (click)="setAnswer('A')">{{quiz.option_a}}</ion-label>
		  <ion-checkbox></ion-checkbox>
		</ion-item>
		<ion-item>
		  <ion-label [ngClass]="answerB" (click)="setAnswer('B')">{{quiz.option_b}}</ion-label>
		  <ion-checkbox></ion-checkbox>
		</ion-item>
		<ion-item>
		  <ion-label [ngClass]="answerC" (click)="setAnswer('C')">{{quiz.option_c}}</ion-label>
		  <ion-checkbox></ion-checkbox>
		</ion-item>
		<ion-item>
		  <ion-label [ngClass]="answerD" (click)="setAnswer('D')">{{quiz.option_d}}</ion-label>
		  <ion-checkbox></ion-checkbox>
		</ion-item>
	</ion-list>
	<button ion-button (click)="setRootTasksPage()" block>Enviar</button>
</ion-content>
