page-quiz {
	button {
	padding: 0;
	border: none;
	background: none;
	}
	ion-button{
	padding: 0;
	border: none;
	background: none;
	}
	.button.activated {
	padding: 0;
	border: none;
	background: none;
	}
}
