// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.image-card{
	position:relative;
}
.image-card .tipo{
	position:absolute;
	width:40px;
	height:40px;
	line-height:40px;
	background:rgba(0,0,0, .7);
	color:#FFF;
	text-align:center;
	right:0;
	top:0;
}
.image-card .idade{
	position:absolute;
	width:40px;
	height:40px;
	line-height:40px;
	background:rgba(0,0,0, .7);
	color:#FFF;
	text-align:center;
	right:0;
	top:41px;
}
.logo-header{
	background:#5ca0b7;
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:100%;
	color:#FFF;
	text-align:center;
	line-height:40px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.upper{
  text-transform: uppercase;
}
.regular{
  font-weight: 300;
}
.medium{
  font-weight: 500;
}
.bold, strong, b{
  font-weight: 700;
}
.text-small, small{
  font-size: 10px;
}
.text-medium{
  font-size: 12px;
}
.cinza{
  color: #999999!important;
}
.block{
  display: block;
}

/**GRID**/
.row{
  margin-left: -15px;
  margin-right: -15px;
}
.um-meio, .dois-tercos, .um-terco, .um-quarto, .tres-quartos, .um-sexto{
  float:left;
  padding-left:15px;
  padding-right:15px;
  position: relative;
  min-height: 1px;
}
.um-meio{
  width:50%;
}
.dois-tercos{
  width: 66.66666667%;
}
.um-terco{
  width:33.33333333%;
}
.um-quarto{
  width:25%;
}
.tres-quartos{
  width:75%;
}
.um-sexto{
  width: 16.66666667%;
}


/**inputs**/
.campo{
  position: relative;
  padding-bottom: 20px;
}
.campo.no-padding{
  padding-bottom: 0;
}
.campo.campo-floating {
  padding-top: 20px;
  padding-bottom: 0;
}
.campo-floating .input-line{
  font-size: 14px;
  padding: 10px 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
}
.campo-floating label {
  color: #999;
  font-size: 14px;
  line-height: normal;
  position: absolute;
  display: block;
  pointer-events: none;
  padding: 10px 0;
  left: 0;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.campo-floating .input-line:focus ~ label, .campo-floating .input-line:valid ~ label{
  top: 0;
  font-size: 11px;
}