<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <i class="fa fa-fw fa-send"></i>
      </button>
    </ion-buttons>
    <ion-title>
      Projetos
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <i class="fa fa-fw fa-th-list"></i>
      </button>
      <button ion-button icon-only>
        <i class="fa fa-fw fa-filter"></i>
      </button>
      <button ion-button icon-only>
        <i class="fa fa-fw fa-user"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


  <h1>Bem Vindo Flavio</h1>
  <hr>
  <ion-content class="cards-bg">
 <ion-card *ngFor="let project of projects" (click)="pushProjectPage(project)">
    <div class="image-card">
    <div class="tipo"><i class="fa fa-home"></i></div>
    <div class="idade">5+</div>
    <img [src]="project.thumbnail"/>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{project.title}}
      </ion-card-title>
      <ion-note item-end>
        {{project.estimated_time}} Semanas
      </ion-note>
      <p>
        {{project.detail_short}}
      </p>
    </ion-card-content>
  </ion-card>
   <!-- <ion-card (click)="pushProjectPage()">

    <img src="http://blog.mundohorta.com.br/wp-content/uploads/2013/10/horta-org%C3%A2nica-em-jardim-org%C3%A2nico.jpg"/>

    <ion-card-content>
      <ion-card-title>
        Mini Horta
      </ion-card-title>
      <ion-note item-end>
        8 Semanas
      </ion-note>
      <p>
        Cultivar seus próprios alimentos nunca foi tão divertido. Aprenda a plantar e colher sua próxima refeição
      </p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
