<ion-header>
  <ion-navbar>
    <ion-title>
      Tarefas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushGalleryPage()">
        <i class="fa fa-fw fa-image"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-item (click)="pushProjectsPage()">
      <ion-icon name='ios-arrow-back' item-start></ion-icon>
      Voltar aos projetos
    </ion-item>
  	<ion-item *ngFor="let task of tasks" (click)="pushTaskPage(task)">
      <ion-icon [name]="task.subject" item-start></ion-icon>
      {{task.title}}
    </ion-item>
  </ion-list>
</ion-content>
