<ion-header>
  <ion-navbar>
    <ion-title>
      Tarefa
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pushGalleryPage()">
        <i class="fa fa-fw fa-image"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img [src]="task.image">
  <h1>{{task.title}}</h1>
  <p>{{task.detail}}</p>
	
  <button ion-button (click)="pushQuizPage()" block>Responder Quiz</button>
</ion-content>
